.drop,
.drop-child {
  display: none;
  height: 40px;
  border: dashed 1px #ccc;
  border-radius: 3px;
  margin-left: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.drop-child {
  margin-left: 40px;
}

.dragging .drop,
.dragging .drop-child {
  display: block;

  &.over {
    border: dashed 1px var(--color-text-dark);
    box-shadow: 0px 0px 3px 2px gold;
  }
}

.dragging .dragged .drop,
.dragging .dragged .drop-child {
  display: none;
}
