.guide {
  position: absolute;
  z-index: 999;
  bottom: 64px;
  left: 40px;
  background: black;
  border-radius: 8px;
  padding: 16px 20px 0px 20px;
  color: white;
  user-select: none;
  box-shadow: 0 6px 6px rgba(0,0,0,0.5);

  & span {
    position: absolute;
    right: 16px;
    top: 14px;
    cursor: pointer;

    & svg {
      width: 16px;
      height: 16px;
      fill: #ddd;
      border-radius: 50%;
      padding: 4px;
      &:hover {
        fill: #fff;
        background-color: #333;
      }
    }
  }

  & th {
    font-weight: normal;
    vertical-align: top;
    text-align: left;

    &:not(:first-child) {
      padding-left: 20px;
    }
  }

  & td {
    white-space: nowrap;
    vertical-align: top;

    & svg {
      width: 16px;
      height: 16px;
      fill: #fff;
    }

    &:first-child {
      padding-right: 6px;
    }
  }

  & button {
    background: white;
  }
}
