#toolpanel {
  position: absolute;
  z-index: 2;
  top: calc(var(--header-height) + 16px);
  left: 16px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  background: #fff;
  padding: 10px 8px 2px 12px;
  border-radius: 4px;
  box-shadow: var(--shadow-panel);
}

.panel {
  position: fixed;
  z-index: 2;
  top: var(--header-height);
  bottom: var(--status-height);
  width: var(--panel-width);
  background: #fff;
  box-shadow: var(--shadow-panel);
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
}

.panel-left {
  visibility: hidden;
  left: 0;
  right: auto;
  transform: translateX(-100%);
  transition: transform 0.25s ease-out, visibility 0s linear 0.25s;

  &.show {
    visibility: visible;
    transform: translateX(0);
    transition: transform 0.25s ease-out, visibility 0s linear 0s;
  }
}

.panel-right {
  visibility: hidden;
  right: 0;
  left: auto;

  &.show {
    visibility: visible;
  }
}

.panel-close {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;

  & svg {
    width: 16px;
    height: 16px;
    fill: #333;
    border-radius: 50%;
    padding: 4px;
    &:hover {
      fill: #000;
      background-color: #eee;
    }
  }
}
