.popup {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  border: solid 1px var(--color-border);
  border-radius: 3px;
  padding: 8px 8px 0 16px;
  background: #fff;
  display: none; /* flex when visible */
  flex-wrap: nowrap;
  box-shadow: var(--shadow-popup);
}

.popup-button {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  flex-grow: 0;
  border: solid 1px var(--color-border);
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin-right: 8px;
  margin-bottom: 8px;
  transition: all ease 0.2s;
  cursor: pointer;

  &:hover {
    border: solid 1px var(--color-accent);
  }
}

id-popup.selected .popup-button {
  background: var(--color-bg-hover);
  border: solid 1px var(--color-text-dark);
}

id-popup.alpha .popup-button:hover {
  opacity: 0.6;
}

.popup-overlay {
  position: absolute;
  top: 34px;
  left: 0px;
  padding: 8px 8px 0 16px;
  background: #fff;
  border-radius: 3px;
  border: solid 1px var(--color-border);
  display: none;
  cursor: default;
}
