.tabs {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 25px;
}

.tabs-underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background: var(--color-primary);
  transition: left 0.25s ease, width 0.25s ease;
}

.tab {
  flex: 1;
  padding: 6px 8px 6px 8px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-left: 4px;
  margin-right: 4px;
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  transition: color ease 0.2s, background ease 0.2s;

  &:first-child {
    margin-left: 0px;
  }

  &:last-child {
    margin-right: 0px;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.87);
    background: #f5f5f5;
  }

  &.selected {
    color: rgba(0, 0, 0, 0.87);
  }
}

.tab-body {
  display: none;
  position: absolute;
  left: 20px;
  top: 100px;
  right: 0;
  bottom: 0;
  padding-right: 20px;
  padding-bottom: 20px;
  overflow-y: auto;

  &.selected {
    display: block;
  }
}
