body {
  font-family: Roboto, Arial, sans-serif;
  font-size: 14.4px;
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Roboto, Arial, sans-serif;
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.5em;
}

kbd {
  border-radius: 4px;
  background-color: rgb(200, 200, 200);
  color: black;
  padding: 1px 4px 1px 4px;
  margin-right: 4px;
}

.sec {
  color: var(--color-text-dark);
  font-weight: bold;
  background: var(--color-bg-hover);
  padding: 4px;
  margin: 4px 0 6px 0;
  border-radius: 2px;
}
