<div style="display: flex; flex-direction: column; margin-bottom: 20px">
  <div style="display: flex; align-items: flex-start">
    <div style="flex:1">
      <id-input class="js-name" data-label="Name"></id-input>
      <id-input class="js-description" data-label="Description"></id-input>
    </div>
    <a href="#">
      <svg class="icon small"><use xlink:href="dist/icons.svg#trash"></use></svg> 
    </a>
  </div>
  <div style="display: flex">
    <id-popup class="js-actor" title="Actor">
      <svg class="icon"><use xlink:href="dist/icons.svg#actor"></use></svg>
    </id-popup>
    <id-popup class="js-item" title="Item">
      <svg class="icon"><use xlink:href="dist/icons.svg#item"></use></svg>
    </id-popup>
    <id-popup class="js-scenery" title="Scenery">
      <svg class="icon"><use xlink:href="dist/icons.svg#scenery"></use></svg>
    </id-popup> 
  </div>
</div>
