{%- assign has_prev = false -%}
<p>
  {%- if site.github_username -%}
    <a href="https://github.com/{{ site.github_username }}">GitHub</a>
    {%- assign has_prev = true -%}
  {%- endif -%}
  {%- if site.twitter_username -%}
    {%- if has_prev %} &middot; {% endif -%}
    <a href="https://www.twitter.com/{{ site.twitter_username | cgi_escape | escape }}">Twitter</a>
    {%- assign has_prev = true -%}
  {%- endif -%}
  {%- if site.email -%}
    {%- if has_prev %} &middot; {% endif -%}
    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
  {%- endif -%}
</p>
