{{> closePanel}}

<h2>Room</h2>

<div class="tabs"> 
  <div class="tab selected" data-body="tab-room-info">Info</div>
  <div class="tab" data-body="tab-room-color">Color</div>
</div>

<div class="tab-body" id="tab-room-info">
  <id-input class="js-room-name" data-label="Room name"></id-input>
  <in-input class="js-room-subtitle" data-label="Room subtitle"></in-input>
  <id-check class="js-room-dark" data-label="Dark"></id-check>
  <id-check class="js-room-startroom" data-label="Start room"></id-check>
  <id-check class="js-room-endroom" data-label="End room"></id-check>

  <label style="margin-top:25px">Room shape</label> 
  <div style="display: flex; flex-wrap: no-wrap">
    <id-popup class="js-room-shape-rectangle">
      <svg class="icon"><use xlink:href="dist/icons.svg#rectangle"></use></svg>
    </id-popup>
    <id-popup class="js-room-shape-ellipse">
      <svg class="icon"><use xlink:href="dist/icons.svg#ellipse"></use></svg>
    </id-popup>
    <id-popup class="js-room-shape-octagon">
      <svg class="icon"><use xlink:href="dist/icons.svg#octagon"></use></svg>
    </id-popup>
  </div>    
  <id-range class="js-room-rounding" data-min="0" data-max="100" data-label="Rectangle rounding"></id-range>

  <id-textarea class="js-room-description" data-label="Room description"></id-textarea>
</div>

<div class="tab-body" id="tab-room-color">
  <div style="display: flex">
    <div style="display: flex; flex-direction: column; flex-wrap: wrap">
      <id-popup title="Room fill" class="colortype selected" data-type="fill">
        <svg class="icon"><use xlink:href="dist/icons.svg#room-fill"></use></svg>
      </id-popup>
      <id-popup title="Room border" class="colortype" data-type="border">
        <svg class="icon"><use xlink:href="dist/icons.svg#room-border"></use></svg>
      </id-popup>
      <id-popup title="Room name" class="colortype" data-type="name">
        <svg class="icon"><use xlink:href="dist/icons.svg#room-name"></use></svg>
      </id-popup>
      <id-popup title="Room subtitle" class="colortype" data-type="subtitle">
        <svg class="icon"><use xlink:href="dist/icons.svg#room-subtitle"></use></svg>
      </id-popup>
    </div>
    <id-colorpicker class="js-room-color"></id-colorpicker>
  </div>
</div>
