{{> closePanel}}

<h2>Room</h2>

<div class="tabs"> 
  <div class="tab selected" data-body="tab-room-info">Info</div>
  <div class="tab" data-body="tab-room-objects">Objects</div>
  <div class="tab" data-body="tab-room-style">Style</div>
</div>

<div class="tab-body" id="tab-room-info">
  <id-input class="js-name" data-label="Room name"></id-input>
  <in-input class="js-subtitle" data-label="Room subtitle"></in-input>
  <id-check class="js-dark" data-label="Dark"></id-check>
  <id-check class="js-outside" data-label="Outside"></id-check> 
  <id-check class="js-startroom" data-label="Start room"></id-check>
  <id-check class="js-endroom" data-label="End room"></id-check>
  <id-shape class="js-shape" data-label="Room shape"></id-shape>
  <id-range class="js-rounding" data-min="0" data-max="100" data-label="Rectangle rounding"></id-range>
  <id-textarea class="js-description" data-label="Room description"></id-textarea>
</div>

<div class="tab-body" id="tab-room-objects">
  <div class="js-object-list"></div> 
  <div style="display: flex; justify-content: flex-end; margin-top: 10px">
    <button class="btn btn-primary js-add-object">Add object</button>
  </div>
</div>

<div class="tab-body" id="tab-room-style">
  <id-linestyle class="js-linestyle" data-none="true" data-label="Border style"></id-linestyle>
  <id-range class="js-linewidth" data-min="1" data-max="10"></id-range>
  <label>Colors</label>
  <div style="display: flex">
    <div style="display: flex; flex-direction: column; flex-wrap: wrap">
      <id-popup title="Room fill" class="colortype selected" data-type="fill">
        <svg class="icon"><use xlink:href="dist/icons.svg#room-fill"></use></svg>
      </id-popup>
      <id-popup title="Room border" class="colortype" data-type="border">
        <svg class="icon"><use xlink:href="dist/icons.svg#room-border"></use></svg>
      </id-popup>
      <id-popup title="Room name" class="colortype" data-type="name">
        <svg class="icon"><use xlink:href="dist/icons.svg#room-name"></use></svg>
      </id-popup>
      <id-popup title="Room subtitle" class="colortype" data-type="subtitle">
        <svg class="icon"><use xlink:href="dist/icons.svg#room-subtitle"></use></svg>
      </id-popup>
    </div>
    <id-colorpicker class="js-color"></id-colorpicker>
  </div>
</div>
