{{> closePanel}}

<h2>Map</h2>

<div class="tabs"> 
  <div class="tab selected" data-body="tab-map-info">Info</div>
</div> 

<div class="tab-body" id="tab-map-info">
  <id-input class="js-title" data-label="Map title"></id-input>
  <id-input class="js-author" data-label="Map author"></id-input>
  <id-textarea class="js-description" data-label="Description"></id-textarea>
</div>
