<label>{{label}}</label>
<div style="display: flex; flex-wrap: no-wrap">
  <id-popup class="js-linestyle-solid">
    <svg class="icon"><use xlink:href="dist/icons.svg#line-solid"></use></svg>
  </id-popup>
  <id-popup class="js-linestyle-dash">
    <svg class="icon"><use xlink:href="dist/icons.svg#line-dash"></use></svg>
  </id-popup>
  <id-popup class="js-linestyle-dashdot">
    <svg class="icon"><use xlink:href="dist/icons.svg#line-dashdot"></use></svg>
  </id-popup>
  <id-popup class="js-linestyle-dashdotdot">
    <svg class="icon"><use xlink:href="dist/icons.svg#line-dashdotdot"></use></svg>
  </id-popup>
  <id-popup class="js-linestyle-dot">
    <svg class="icon"><use xlink:href="dist/icons.svg#line-dot"></use></svg>
  </id-popup>
  <id-popup class="js-linestyle-none" style="display:{{noneDisplay}}"></id-popup>
</div>