{{> closePanel}}

<h2>Block</h2>

<div class="tabs">
  <div class="tab selected" data-body="tab-block-info">Info</div>
  <div class="tab" data-body="tab-block-color">Color</div>
</div>

<div class="tab-body" id="tab-block-info">
  <label style="margin-top:25px">Block shape</label> 
  <div style="display: flex; flex-wrap: no-wrap">
    <id-popup class="js-shape-rectangle">
      <svg class="icon"><use xlink:href="dist/icons.svg#rectangle"></use></svg>
    </id-popup>
    <id-popup class="js-shape-ellipse">
      <svg class="icon"><use xlink:href="dist/icons.svg#ellipse"></use></svg>
    </id-popup>
    <id-popup class="js-shape-octagon">
      <svg class="icon"><use xlink:href="dist/icons.svg#octagon"></use></svg>
    </id-popup>
  </div>    
  <id-range class="js-rounding" data-min="0" data-max="100" data-label="Rectangle rounding"></id-range>
</div>

<div class="tab-body" id="tab-block-color">
  <div style="display: flex">
    <div style="display: flex; flex-direction: column; flex-wrap: wrap">
      <id-popup title="Block fill" class="colortype selected" data-type="fill">
        <svg class="icon"><use xlink:href="dist/icons.svg#block-fill"></use></svg>
      </id-popup>
      <id-popup title="Block border" class="colortype" data-type="border">
        <svg class="icon"><use xlink:href="dist/icons.svg#block-border"></use></svg>
      </id-popup>
    </div>
    <id-colorpicker class="js-color"></id-colorpicker>
  </div>
</div>