<div style="display: flex; flex-direction: row; flex-wrapping: nowrap; align-items: center">
  <input type="range" min="{{min}}" max="{{max}}">
  <div class="range-label" style="width:40px; text-align:right">0</div>
</div>