{{> closePanel}}

<h2>Note</h2>

<div class="tabs">
  <div class="tab selected" data-body="tab-note-info">Info</div>
  <div class="tab" data-body="tab-note-color">Color</div>
</div>

<div class="tab-body" id="tab-note-info">
  <label style="margin-top:25px">Note shape</label> 
  <div style="display: flex; flex-wrap: no-wrap">
    <id-popup class="js-note-shape-rectangle">
      <svg class="icon"><use xlink:href="dist/icons.svg#rectangle"></use></svg>
    </id-popup>
    <id-popup class="js-note-shape-ellipse">
      <svg class="icon"><use xlink:href="dist/icons.svg#ellipse"></use></svg>
    </id-popup>
    <id-popup class="js-note-shape-octagon">
      <svg class="icon"><use xlink:href="dist/icons.svg#octagon"></use></svg>
    </id-popup>
  </div>    
  <label>Rectangle rounding</label>
  <id-range class="js-note-rounding" data-min="0" data-max="100"></id-range>
  <id-textarea class="js-note-text" data-label="Note text"></id-textarea>
</div>

<div class="tab-body" id="tab-note-color">
  <div style="display: flex">
    <div style="display: flex; flex-direction: column; flex-wrap: wrap">
      <id-popup title="Note fill" class="colortype selected" data-type="fill">
        <svg class="icon"><use xlink:href="dist/icons.svg#note-fill"></use></svg>
      </id-popup>
      <id-popup title="Note border" class="colortype" data-type="border">
        <svg class="icon"><use xlink:href="dist/icons.svg#note-border"></use></svg>
      </id-popup>
      <id-popup title="Note text" class="colortype" data-type="text">
        <svg class="icon"><use xlink:href="dist/icons.svg#note-text"></use></svg>
      </id-popup>
    </div>
    <id-colorpicker class="js-note-color"></id-colorpicker>
  </div>
</div>