<input id="inputLoad" type="file" style="display:none" accept=".json">
<input id="inputImport" type="file" style="display:none" accept=".trizbort">

<div class="menugroup">
  <a href="#" id="group-file">File</a>
  <div>
    <div class="menuitem">
      <a href="#" id="menu-new"><svg class="icon small"><use xlink:href="dist/icons.svg#map"></use></svg> New map</a>
    </div>
    <div class="menuitem">
      <a href="#" id="menu-load"><svg class="icon small"><use xlink:href="dist/icons.svg#open"></use></svg> Load map</a>
    </div>    
    <div class="menuitem">
      <a href="#" id="menu-import"><svg class="icon small"><use xlink:href="dist/icons.svg#open"></use></svg> Import Trizbort map</a>
    </div>    
    <div class="menuitem">
      <a href="#" id="menu-save"><svg class="icon small"><use xlink:href="dist/icons.svg#save"></use></svg> Save map</a>
    </div>
    <div class="menuitem">
      <a href="#" id="menu-image"><svg class="icon small"><use xlink:href="dist/icons.svg#scenery"></use></svg> Export as image</a>
    </div>
  </div>
</div>

<div class="menugroup">
  <a href="#" id="group-settings">Settings</a>
  <div style="display:none">
    <div class="menuitem">
      <a href="#" id="menu-map"><svg class="icon small"><use xlink:href="dist/icons.svg#settings"></use></svg> Map settings</a>
    </div>
    <div class="menuitem">
      <a href="#" id="menu-render"><svg class="icon small"><use xlink:href="dist/icons.svg#paintbrush"></use></svg> Render settings</a>
    </div>
  </div>
</div>

<div class="menugroup">
  <a href="#" id="group-export">Export</a>
  <div style="display:none">
    <div class="menuitem">
      <a href="#" id="menu-export-tads"><svg class="icon small"><use xlink:href="dist/icons.svg#code"></use></svg> TADS</a> 
    </div>
    <div class="menuitem">
      <a href="#" id="menu-export-inform7"><svg class="icon small"><use xlink:href="dist/icons.svg#code"></use></svg> Inform 7</a> 
    </div>  
    <div class="menuitem">
      <a href="#" id="menu-export-alan2"><svg class="icon small"><use xlink:href="dist/icons.svg#code"></use></svg> Alan 2</a> 
    </div>  
    <div class="menuitem">
      <a href="#" id="menu-export-alan3"><svg class="icon small"><use xlink:href="dist/icons.svg#code"></use></svg> Alan 3</a> 
    </div>  
    <div class="menuitem">
      <a href="#" id="menu-export-quest"><svg class="icon small"><use xlink:href="dist/icons.svg#code"></use></svg> Quest</a> 
    </div>  
    <div class="menuitem">
      <a href="#" id="menu-export-textadventurejs"><svg class="icon small"><use xlink:href="dist/icons.svg#code"></use></svg> TextAdventure.js</a> 
    </div>    
    <div class="menuitem">
      <a href="#" id="menu-export-yaml"><svg class="icon small"><use xlink:href="dist/icons.svg#code"></use></svg> YAML</a> 
    </div>       
    <div class="menuitem">
      <a href="#" id="menu-export-zil"><svg class="icon small"><use xlink:href="dist/icons.svg#code"></use></svg> ZIL</a> 
    </div>    
  </div>
</div>

<div class="menugroup">
  <a href="#" id="group-help">Help</a>
  <div style="display:none">
    <div class="menuitem">
      <a href="#" id="menu-help"><svg class="icon small"><use xlink:href="dist/icons.svg#help"></use></svg> Keyboard help</a>
    </div>
  </div>
</div>