---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="name headline">{{ title | escape }}</h1>
    <p>
      <small>
        <time datetime="{{ date | date_to_xmlschema }}" itemprop="datePublished">
          {{ date | date: "%b %-d, %Y" }}
        </time>
        {%- if author -%}
          &middot; <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ author }}</span></span>
        {%- endif -%}
      </small>
    </p>
  </header>

  <div itemprop="articleBody">
    {{ content }}
  </div>

  <a href="{{ page.url | relative_url }}" hidden></a>
</article>
