<id-popup class="js-fill" title="Connector color">
  <svg class="icon"><use href="/icons.svg#paintbrush"></use></svg>
  <div class="popup-overlay" style="width:168px">
    <id-quick-color class="js-color"></id-quick-color>
  </div>     
</id-popup>
<id-popup class="js-line" title="Connector line style">
  <svg class="icon"><use href="/icons.svg#line-solid"></use></svg>
  <div class="popup-overlay">
    <id-linestyle class="js-linestyle"></id-linestyle>
    <id-range class="js-linewidth" data-min="1" data-max="10"></id-range>
  </div>      
</id-popup>
<id-popup class="js-basic" title="Connector details">
  <svg class="icon"><use href="/icons.svg#font"></use></svg>
  <div class="popup-overlay" style="width:168px">
    <id-input class="js-name" data-label="Name"></id-input>
  </div>
</id-popup>
<id-popup class="js-delete" title="Delete connector">
  <svg class="icon"><use href="/icons.svg#trash"></use></svg>
</id-popup>
<id-popup class="js-more" title="More connector details">
  <svg class="icon"><use href="/icons.svg#ellipsis-h"></use></svg>
</id-popup>