<label>{{label}}</label>
<div style="display: flex; flex-wrap: no-wrap">
  <id-popup class="js-rectangle">
    <svg class="icon"><use xlink:href="dist/icons.svg#rectangle"></use></svg>
  </id-popup>
  <id-popup class="js-ellipse">
    <svg class="icon"><use xlink:href="dist/icons.svg#ellipse"></use></svg>
  </id-popup>
  <id-popup class="js-octagon">
    <svg class="icon"><use xlink:href="dist/icons.svg#octagon"></use></svg>
  </id-popup>
</div>