<id-popup class="js-fill">
  <svg class="icon"><use xlink:href="dist/icons.svg#paintbrush"></use></svg>
  <div class="popup-overlay" style="width:168px">
    <id-quick-color class="js-color"></id-quick-color> 
  </div>      
</id-popup>
<id-popup class="js-line">
  <svg class="icon"><use xlink:href="dist/icons.svg#line-solid"></use></svg>
  <div class="popup-overlay">
    <id-linestyle class="js-linestyle" data-none="true"></id-linestyle>
    <id-range class="js-linewidth" data-min="1" data-max="10"></id-range>
  </div>      
</id-popup>
<id-popup class="js-position">
  <svg class="icon"><use xlink:href="dist/icons.svg#position"></use></svg>
  <div class="popup-overlay" style="width: 150px; padding-bottom: 8px">
    <div class="menuitem"><a href="#" class="js-front">Bring to Front</a></div>
    <div class="menuitem"><a href="#" class="js-forward">Bring Forward</a></div>
    <div class="menuitem"><a href="#" class="js-backward">Send Backward</a></div>
    <div class="menuitem"><a href="#" class="js-back">Send to Back</a></div>
  </div>  
</id-popup>
<id-popup class="js-delete">
  <svg class="icon"><use xlink:href="dist/icons.svg#trash"></use></svg>
</id-popup>
<id-popup class="js-more">
  <svg class="icon"><use xlink:href="dist/icons.svg#ellipsis-h"></use></svg>
</id-popup>