.drop, .drop-child
  display none
  height 40px
  border dashed 1px #ccc
  border-radius 3px
  margin-top 4px
  margin-bottom 4px

.drop-child
  margin-left 40px

.dragging .drop,
.dragging .drop-child
  display block
  &.over
    border dashed 1px #333

.dragging .dragged .drop,
.dragging .dragged .drop-child
  display none