body 
  overflow hidden

header
  display flex
  align-items baseline
  position absolute
  left 0 
  top 0 
  right 0 
  height 50px
  z-index 99
  background #5c6bc0 
  color #fff
  border-bottom #333
  box-shadow 0 2px 3px #aaa
  padding 10px 20px 0 20px
  box-sizing border-box
  h1 
    color #fff
  i 
    margin-right 20px
    font-size 22px !important
    cursor pointer

#controls
  position absolute
  right 10px
  bottom 10px

.control 
  background #333
  width 36px
  height 36px
  border-radius 18px
  display flex
  color #fff
  justify-content center
  align-items center
  margin-top 8px
  transition all 0.3s ease
  box-shadow 0 2px 2px #888
  &:hover
    background #6557D2
    cursor pointer
  
