label
  display block
  font-size 12.8px
  color #008475
  margin-bottom 5px

input, textarea
  display block
  width 100%
  border none 
  padding 5px 2px 5px 2px
  background transparent
  color rgb(102, 102, 102)
  outline none

textarea
  resize none

.input-line
  height 1px
  background #DCDCDC
  transition all ease 0.4s
  margin-bottom 12px

input:focus + .input-line,
input:hover + .input-line,
textarea:focus + .input-line,
textarea:hover + .input-line
  background #008475

input[type=checkbox],
input[type=radio]
  display inline-block
  width auto
  margin-right 10px
  vertical-align middle

input[type=checkbox] + label,
input[type=radio] + label
  display inline
  color inherit

.form-check
  margin-top 10px
  margin-bottom 10px
  
button
  font-family Roboto, Arial, sans-serif
  border none
  margin-right 10px
  padding 8px 8px 8px 8px
  text-transform uppercase
  font-size 14px
  color #26418f
  border-radius 2px
  background transparent
  font-weight 500
  cursor pointer
  outline none
  &:hover 
    background #eee

.btn-primary
  background #018786
  color #fff
  &:hover
    background #15908F


