@require "normalize"
@require "typography"
@require "canvas"
@require "debug"
@require "gui"
@require "input"
@require "panel"
@require "window"
@require "popup"
@require "tabs"
@require "colorpicker"
@require "menu"
@require "svg"