.toast
  position absolute
  z-index 999
  bottom 40px
  left 40px
  width 250px
  background black
  padding 20px
  color white

  div
    line-height 1.4em;

  span
    position absolute
    right 8px
    top 8px
    cursor pointer

    svg 
      width 14px
      height 14px
      fill #ddd
      &:hover 
        fill #fff

   
