.toast
  position absolute
  z-index 999
  bottom 40px
  left 40px
  background black
  padding 20px 20px 0px 20px
  color white

  span
    position absolute
    right 8px
    top 8px
    cursor pointer

    svg 
      width 14px
      height 14px
      fill #ddd
      &:hover 
        fill #fff

  th
    font-weight normal
    vertical-align top
    text-align left
    &:not(:first-child)
      padding-left 20px

  td 
    white-space nowrap
    vertical-align top
    svg
      width 16px
      height 16px
      fill #fff
    &:first-child
      padding-right 6px


  

   
