body
  font-family Roboto, Arial, sans-serif
  font-size 14.4px
  color rgb(102, 102, 102)

h1, h2, h3, h4, h5, h6
  font-family Roboto, Arial, sans-serif
  color rgb(102, 102, 102)
  margin 0
  padding 0

p
  line-height 1.5em
